@model ClientMvc5.Models.HomePageViewModel
@{
    ViewBag.Title = "StudentEdit";
}

<h2>StudentEdit</h2>

<h3 style="color:darkgreen">@ViewBag.StudentEdit</h3>

@using (Html.BeginForm("StudentEdit", "Home", FormMethod.Post, null))
{
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="FullName" value="@Model.FullName" placeholder="Öğrenci Adı" />
    <input type="text" name="StudentNo" value="@Model.StudentNo" placeholder="Öğrenci Numarası" />
    <input type="text" name="ClassNo" value="@Model.ClassNo" placeholder="Öğrenci Sınıfı" />
    <input type="submit" value="Kaydet" />
}